* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: rgb(191, 189, 189);
    color: #333;


}

.wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

/* header */
.site-header {
    background-color: rgb(255, 255, 255);


}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.site-title {
    font-size: 1.37rem;
    font-weight: 700;
}

.site-subtitle {
    font-size: 0.875rem;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;

}

.social-icons a:hover {
    text-decoration: underline;
    transform: translateY(-5px);





    margin-left: 10px;

}

.social-icons a {
    font-size: 1.2rem;
    border: 1px solid #555;
    border-radius: 50%;
    color: black;


    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px
}

.social-icons a:hover {
    background-color: rgb(216, 215, 193);
    color: rgb(0, 20, 205);
    border: 0px;

    transform: translateY(-5px);


}

html {
    font-size: 16px;
}


/* nav Section */
.main-nav {
    background-color: rgb(67, 67, 168);
}


.nav-main {
    list-style-type: none;
    display: flex;
}

.nav-main li a {
    color: aliceblue;
    font-size: 0.9rem;

    display: block;
    padding: 10px 15px;
}

.nav-main li a:hover {
    color: aliceblue;
    background-color: rgb(59, 59, 177);
    font-size: 0.9rem;

    display: block;
    padding: 10px 15px;
}

.nav-main li a:hover,
.nav-main li a.active {
    background-color: rgb(47, 47, 138);
    color: aliceblue;
}

/* Hero Section */
.hero-contaent {
    background-color: rgb(168, 169, 169);
    padding: 30px 0;
    margin-bottom: 0 2px 14px;
    box-shadow: 0 2px 14px cornflowerblue;
}

.hero-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(350px, 1fr));

    /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}











.hero-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(10px);
    /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */


    transition: all 0.3s ease;

    /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    background: white;
}

.hero-item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    line-height: 1.3;
    margin-bottom: 10px;
}

.hero-item p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

.hero-item .read-more {
    font-size: 0.9rem;
    font-weight: 500;
    color: #1e8bc3;

    display: inline-block;
}

.hero-item .read-more:hover {
    color: #764ba2;
    text-decoration: none;
}

.hero-item .read-more::after {
    content: '→';
    margin-left: 15px;

    transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
    margin-left: 10px;
}

.hero-title {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: #333 2px 4px;
    text-align: center;
    margin-bottom: 20px;
}

/*Page sect /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
.content-grid {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    gap: 20px;
    margin-top: 20px;
}

/*LEFT Side /* */
.card {
    background-color: #fff;
    border-radius: 4px;
    padding: 18px;
    margin-top: 10px;

}

.card+.card {
    margin-top: 10px;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-headline {
    font-size: 0.687rem;
    color: #777;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-cirele {
    background-color: #1e8bc3;
    border-radius: 50%;
    width: 55px;
    height: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.69rem;
    margin-bottom: 10px;
}

.date-cirele span.day {
    font-size: 1.2rem;
    font-weight: 700;
}

.post-description {
    font-size: 0.82rem;
    color: #555;
    margin: 10px 0;

}

/*Css1 /* */
.post-image {
    height: 200px;
    overflow: hidden;

}

.post-image img {
    width: 100%;
    height: auto;

    object-fit: cover;

}

.post-footer {
    height: 0.68rem;
    color: #000000;

    border-top: 1px solid rgb(207, 207, 207);
    margin: 10px 0;

    display: flex;
    gap: 8px;
}

/*Css2 tadil /* */

.comparison-table {
    border: 2px solid #ffffff;
    border-collapse: collapse;/
}

.comparison-table td {
    border: 2px solid #000000;
    padding: 15px;
}

.comparison-table tr td {
    background-color: #ffffff;
}

.comparison-table tr:nth-child(even) td {
    background-color: #ffb1b1;
}

.comparison-table tr:hover td {
    background-color: #c9c9c9;
}

.comparison-table th {
    border: 2px solid #1d0e67;
    background: linear-gradient(45deg, rgb(9, 51, 110), rgb(84, 108, 245));
    color: #ffffff;
    padding: 15px;
}

.feature {
    font-weight: 600;
    color: #333;
    background-color: #1e8bc3;
}

.txt-gray {
    font-weight: 500;
    color: #777;
}

.txt-green {
    font-weight: 500;
    color: #23c60a;
}

.txt-red {
    font-weight: 500;
    color: #ff0000;
}



/*Rigth Side /* */
.widget {
    background-color: #fff;
    border-radius: 4px;
    padding: 18px;
}

.widget+.widget {
    margin-top: 10px;
}

.widget {
    background-color: #fff;
    border-radius: 4px;

    margin-top: 10px;
}

/*fom L sing*/
.contact-title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgb(0, 166, 255);

}

.contect-form-card {
    background-color: #0545a5b6;
    padding: 40px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(25, 24, 59, 0.775);
    border: 1px solid crimson;
    margin-bottom: 8px;
}

.fonm-input,
.fonm-select,
.fonm-textarea {
    width: 100%;
    padding: 12px 15px;
    border: radius 8px;
    font: 0.9rem;
}

.fonm-select {
    border: 2px solid #ccc;
}

.contect-form-card .fonm-input,
.contect-form-card .fonm-select,
.contect-form-card .fonm-textarea {
    background-color: #dcfaff;
    border: 2px solid cornflowerblue;
    color: #000000;
    border-radius: 8px;
}

.for-label {
    font-size: 0.82rem;
    color: #000000;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;



}

.for-group {
    margin-bottom: 15px;

}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 5px;

}

.form-checkbox-group {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    font-size: 0.82rem;
}

.checkbox-item input[type="checkbox"] {
    transform: scale(1.15);
    accent-color: #ff6b6b;
}

.form-textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(45deg, #ff6b6b 0%, #f06595 100%);
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-button-reset {
    width: 100%;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(45deg, #831212 0%, #652a3f 100%);
    margin-bottom: 20px;
}

.form-button:hover,
.form-button-reset:hover {
    background: linear-gradient(45deg, #3c1905, #6b46c1);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(102, 126, 234, 0.35);
}



/* Focus: ฟอร์มหลัก */
.contact-form-main-card .form-input:focus,
.contact-form-main-card .form-select:focus,
.contact-form-main-card .form-textarea:focus {
    outline: none;
    background: #fff;
    border-color: #021772;
    box-shadow: 0 0 0 3px rgba(222, 3, 3, 0.18);
    transform: translateY(-1px);
}

.contect-message-card {
    background: linear-gradient(45deg, #2c745b, #6fe252);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(25, 24, 59, 0.775);
    border: 1px solid crimson;
    margin-bottom: 8px;
}

.contact-title-message {
    font-size: 1.0rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
}


.ccontect-message-card .fonm-message-select,
.contect-message-card .fonm-message-input {
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    color: #000000;
}

.fonm-message-input,
.fonm-message-select,
.fonm-textarea {
    width: 100%;
    padding: 12px 15px;
    border: radius 8px;
    font: 0.9rem;
    border-radius: 8px;
}

.fonm-message-select {
    border: 2px solid #000000;
}

.for-label-message {
    font-size: 0.82rem;
    color: #ffffff;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;



}


.contect-follow-card {
    background: linear-gradient(45deg, #5e07d9, #3a156e);
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(25, 24, 59, 0.775);
    border: 1px solid crimson;
    margin-bottom: 8px;
}

.form-textarea-follow {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
    box-sizing: border-box;
}

/*แนะนำผู้เขียน*/

.widget-title{
font-size: 1rem;
font-weight: 800;
margin-bottom: 8px;
}

.auther-photo{
    background-color: #e4e9ef;
    margin: 8px 0;
    height: 140px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-facebook{
background-color: #074bc0;
color: #ffffff;
padding: 10px 15px;
border-radius: 4px;

display: inline-block;
margin-top: 8px;

}



.FacebookLike{
    background-color: #e4e9ef;
    margin: 8px 0;
    padding: 20px;
    border-radius: 4px;

    text-align: center;
}

.ad-box{
    background-color: #e4e9ef;
    margin: 8px 0;
    height: 250px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*gold-table*/
:root {
    --line:  #eedcb5;
    --Bg01:  #dcb768d3;
    --Bg02:  #c6ba9cd3;
    --Bg03:  #a5cf9dd3;
}

.wrap-gold-table{
    background-color:var(--Bg02) ;
    margin: 0 auto;
    border-radius: 16px;
    border: 2px solid var(--line);
    overflow: hidden; /*ซ้อนส่วนเกิน*/
}
.gold-table{
    border: 2px solid var(--line);
    border-collapse: collapse;
    width: 100%;  
}

.gold-table thead th{
    background-color: var(--Bg01);
}

.gold-table tbody th{
    background-color: var(--Bg01);
}
.gold-table th,
.gold-table td  {
    border: 1px solid var(--line);
    padding: 10px 2px;  
}
.gold-table .total th,
.gold-table .total td{
    background-color: var(--Bg03);
}

.icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}


.gold-table th{
    text-align: center;
}

.gold-table td{
    text-align: right;
}

.price-up{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.up {
    border-bottom:  10px solid rgb(23, 128, 16);
    
}

.dowm {
    border-top: 10px solid rgb(255, 5, 5);
}

.dowmBG {
    background-color:  rgb(213, 141, 141);
}

.footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    height: 120px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}












/* 📧 รับข่าวสารใหม่
                                    ชื่อของคุณ อีเมล สนใจเนื้อหาด้านไหน 🚀 สมัครเลย!